# Ignore Visual Studio cache files
.vs/
*.vsidx
*.user
*.suo
*.db

# Ignore build and compiled files
bin/
obj/

# Ignore package dependencies
packages/
node_modules/

# Ignore system files
.DS_Store
Thumbs.db
